@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body style */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background: rgb(203, 218, 223);
}

h1,
h2 {
    margin-bottom: 15px;
}

/* Remove bullet points from links */
ul {
    list-style-type: none;
}

/* Contain max width */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Navbar style */
.navbar {
    background: #414664;
    color: white;
    height: 60px;
}

/* Navbar links style */
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

/* Link hover colour */
.navbar a:hover {
    color: hotpink;
}

/* Flex navbar logo and links  */
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Flex links horizontal */
.navbar ul {
    display: flex;
}

/* Space between links */
.navbar ul li {
    margin-left: 20px;
}

/* Header style */
.header {
    background: white;
    color: black;
    min-height: 400px;
}

/* Header h1 font style */
.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

/* Header image */
.header img {
    max-width: 500px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* box style */
.box {
    flex: 1;
    background-color: #414664;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px black;
    padding: 15px 20px;
}

/* button style */
button {
    font-size: 1rem;
    background-color: rgb(194, 74, 134);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    outline: none; 
}

/* button hover */
button:hover {
    background: hotpink;
}

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
    }
}